body{
    height: 760px;
    width: 1280px;
}

#threeDefault{
    width: 552.513px;
    height: 528.015px;
    flex-shrink: 0;
    padding: 98px 0px 134px 87.5px;
    flex-shrink: 0;
}

.btn{
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 35px;
    background: #3EB25E;
    width: 199px;
    height: 35.554px;
    flex-shrink: 0;
    margin: 20px;
}
  
.btn:hover{
    border-radius: 35px;
    color: #000;
    background: #FFFF7D;
}

.skipBtn{
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 35px;
    background: #3EB25E;
    width: 445px;
    height: 36px;
    flex-shrink: 0;
    margin-left: 20px
}

.skipBtn:hover{
    border-radius: 35px;
    color: #000;
    background: #FFFF7D;
}

.form{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
}

.label1{
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    gap: 20px;
}

.label-check{
    color: #000;
    font-family: Roboto;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px; 
    left: 30px;
}

select{
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    padding: 10px; 
    font-size: 27px;
    max-width: 70%;
}

input[type="radio"]{
    display: none;
}

label{
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 13px;
}

label:before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    
    border-radius:100%;
    margin-right: 200px;
    position: absolute;
    left: -5px;
    bottom: 0.55rem;
    background-image: url(../assets/icons/CheckOff.svg);
}

.label1.limpo {
    color: #000;
    text-align: center;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    gap: 20px;
    
    display: inline; 
    cursor: auto;
    position: static; 
    padding-left: 0; 
    margin-right: 0; 
    font-size: 26px; 
}
  
.label1.limpo::before {
    content: none; 
}

.checkboox {
    display: none;
}
.checkboox + label:before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 3px;
    margin-right: 5px;
    bottom: 0.8rem;
    left: -15px;
    background-image: url(../assets/icons/CheckOff.svg);
    margin-bottom: -2px;
}

.checkboox:checked + label:before {
    background-image: url(../assets/icons/CheckOn.svg);
}