body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

#oneDefault{
    max-width: 431px;
    height: 100%;
    width: 100%;
}

.divimg{
     display: flex;
     justify-content: center;
  }

.btn{
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 35px;
    background: #3EB25E;
    width: 199px;
    height: 35.554px;
    flex-shrink: 0;
    margin: 20px;
    border: none;
    outline: none;
}
  
.btn:hover{
    border-radius: 35px;
    color: #000;
    background: #FFFF7D;
}
  
.h1{
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 39px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    flex-shrink: 0;
}

.h2{
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex-shrink: 0;
}

.textTela2{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 100%;
  gap: 80px;
}

.information{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 31%;
  }
.btns{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    #oneDefault{
      padding-top: 80px;
      width: 80vw;
    }

    body{
        display: flex;
    }

    .information{
        max-width: 80%;
    }

    .textTela2{
        flex-direction: column;
        gap: 0;
    }
    
    .divimg{
        padding: 10px;
    }
  }
  

@media screen and (max-width: 480px) {
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .textTela2{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0;
    }
    
    .btns{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .information{
        padding: 0;
        max-width: 66%;
    }
}