body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,h2,p{
  margin: 0;
}

.textHome {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 100%;
  gap: 80px;
}

.information{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 44px;
}

#sucessFallout{
  max-width: 431px;
  height: 100%;
  width: 100%;
}

.divimg{
  padding-top: 80px;
   width: 50%;
   display: flex;
   justify-content: center;
}

#h1{
  font-size: 6em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
}

#h2{
  color: #000;
  text-align: center;
  align-items: center;
  font-size: 29px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.btn{
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 35px;
  background: #3EB25E;
  width: 199px;
  height: 35.554px;
  flex-shrink: 0;
  border: none;
  outline: none;
}

.btn:hover{
  border-radius: 35px;
  color: #000;
  background: #FFFF7D;
}

@media screen and (max-width: 768px) {
  #zeroDefault{
    padding-top: 10px;
  }

  .textHome{
    flex-direction: column;
    gap: 0;
  }

  .divimg{
    padding: 10px;
  }

}


@media screen and (max-width: 480px){
  body{
    justify-content: center;
    width: 100%;  
  }

  .textHome {
    flex-direction: column;
    padding: 0;
    gap: 0;
  }

  .information{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  #h1{
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 53px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  #h2{
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  
}